@media screen and (max-width: 600px) {
    .content2 {
        flex-direction: column;
        gap: 18px;
        margin-top: 25px;
    }
    .input {
        width: 100%;
    }
    button {
        width: 50%;
        margin-top: 47%;
        height: 55px;
    }
    .input{
        width: 100%;
        height: 50px;
    }
    .text{
        margin-top: 25px;
    }
    h2{
        font-size: 38px;
    }
    button:hover{
        background: #eb4667;
background: linear-gradient(90deg, rgba(235, 70, 103, 1) 8%, rgba(237, 237, 92, 1) 51%, rgba(217, 65, 108, 1) 93%);
       color: black;
       font-weight: bold;
       font-size: 20px;
       font-family: Times New Roman;  
       box-shadow: 1px 3px 8px 0px blue;
    }
}